{% extends "base.html" %}

{% block title %}Stock - OrderNA{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        <h2><i class="fas fa-warehouse me-2"></i>Warehouse stock</h2>
      </div>

        <!-- Search bar -->
        <div class="mb-4">
            <input type="text" id="stock-search" class="form-control mb-3" placeholder="Search..." >
        </div>
        <div class="container">
          <div class="row" id="results">
            {% for item in items %}
              <div class="col-md-4 mb-4">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <span class="badge bg-primary">{{ item.category }}</span>
                    <span class="badge bg-secondary">{{ item.language }}</span>
                    <p class="card-text">
                    Qty: {{ item.quantity }}</br>
                    Price: {{ item.price }}
                    </p>
                    <input type="number" name="quantity" min="1" value="1" class="form-control mb-2">
                    <button type="submit" class="btn btn-primary btn-small">Add To Cart</button>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
