<tr>
  <!-- Table values -->
  <td>{{ item.name }}</td>
  <td>{{ item.category }}</td>
  <td>{{ item.language }}</td>
  <td>{{ item.quantity }}</td>

  <!-- Placeholder for error messages -->
  <span class="error-message"></span>

  <!-- Table values, editable fields, save button -->
  <td>
    <form class="stock-edit-form" method="post" action="/admin/edit-stock">
      <input
        type="number"
        name="quantity"
        value="{{
        item.quantity
        }}"
        class="form-control form-control-sm"
      />
      <input type="hidden" name="item_id" value="{{ item.id }}" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" class="btn btn-primary btn-small">Save</button>
    </form>
  </td>
  <td>{{ item.price }}</td>
  <td>
    <form class="stock-edit-form" method="post" action="/admin/edit-stock">
      <input
        type="number"
        name="price"
        value="{{
        item.price
        }}"
        class="form-control form-control-sm"
      />
      <input type="hidden" name="item_id" value="{{ item.id }}" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" class="btn btn-primary btn-small">Save</button>
    </form>
  </td>
</tr>
