{% extends "base.html" %} 

{% block title %}Home - OrderNA{% endblock %} 

{% block content %}

{% if current_user.is_authenticated %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header text-center">
        <h2><i class="fa-solid fa-book me-2"></i>Welcome to OrderNA</h2>
      </div>
      <div class="card-body">
        <div class="row mt-4">
          <div class="col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body text-center">
                <i class="fas fa-chart-line fa-3x mb-4 text-primary"></i>
                <h4>Stock</h4>
                <p>View current warehouse stock</p>
                <a
                  href="#"
                  class="btn text-primary"
                  >View current warehouse stock</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-body text-center">
                <i class="fas fa-plus-circle fa-3x mb-3 text-primary"></i>
                <h4>Order</h4>
                <p>Place your order</p>
                <div class="d-grid gap-2">
                  <a
                    class="btn btn-outline-primary"
                    href=""
                    >Order</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="card-footer text-center">
        <p>
          Placeholder text
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 mb-3">
        <div class="card text-center h-100">
          <div class="card-body">
            <i class="fas fa-money-bill-wave fa-2x mb-3 text-success"></i>
            <h5>Placeholder</h5>
            <p>Placeholder text</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-center h-100">
          <div class="card-body">
            <i class="fas fa-piggy-bank fa-2x mb-3 text-info"></i>
            <h5>Placeholder</h5>
            <p>Placeholder text</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-center h-100">
          <div class="card-body">
            <i class="fas fa-chart-pie fa-2x mb-3 text-warning"></i>
            <h5>Placeholder</h5>
            <p>Placeholder text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
